$color-1: #FFFFFF;
$color-2: #ff3b1d;
$color-3 : #222;
$color-4: #fb7966;

$body-bg-color: #FFFFFF;

$fonts-color-base: $color-3;
$fonts-weight-base: 400;
$fonts-size-text: 20px;

//mobile
$fonts-size-text-sm: 17px !default;

// title size desktop
$h1-size: 50px !default;
$h2-size: 44px !default;
$h3-size: 32px !default;
$h4-size: 24px !default;
$h5-size: 22px !default;
$h6-size: 20px !default;


//spacing desktop
$spacing-s: 10px;
$spacing-m: 20px;
$spacing-l: 30px;
$spacing-xl: 50px;
$spacing-xxl: 60px;
$spacing-xxxl: 120px;


//spacing small screen (mobile)
$spacing-s-sm: 10px;
$spacing-m-sm: 20px;
$spacing-l-sm: 30px;
$spacing-xl-sm: 50px;
$spacing-xxl-sm: 60px;
$spacing-xxxl-sm: 80px;

// title size small screen (mobile)
$h1-size-sm: 36px !default;
$h2-size-sm: 28px !default;
$h3-size-sm: 26px !default;
$h4-size-sm: 22px !default;
$h5-size-sm: 20px !default;
$h6-size-sm: 20px !default;


// title font-weight
$h1-font-weight: 900;
$h2-font-weight: 700;
$h3-font-weight: 600;
$h4-font-weight: 600;
$h5-font-weight: 500;
$h6-font-weight: 500;


// Button style primary
$btn-primary-border-color: $color-2;
$btn-primary-height: 60px;
$btn-primary-font-size: $h5-size;
$btn-primary-font-weight: 500;
$btn-primary-text-color: $color-1;
$btn-primary-border-radius: 6px;
$btn-primary-bg-color: $color-2;
//hover
$btn-primary-text-color-hover: $color-1;
$btn-primary-bg-color-hover: $color-4;
$btn-primary-border-color-hover: $color-2;

// Button style secondary
$btn-secondary-border-color: $color-2;
$btn-secondary-height: 60px;
$btn-secondary-font-size: $h5-size;
$btn-secondary-font-weight: 500;
$btn-secondary-text-color: $color-2;
$btn-secondary-border-radius: 6px;
$btn-secondary-bg-color: transparent;
//hover
$btn-secondary-text-color-hover: $color-2;
$btn-secondary-bg-color-hover: $color-1;
$btn-secondary-border-color-hover: $color-2;


// Content structure - desktop
$inner-wrap-spacing-top: $spacing-xxxl;
$inner-wrap-spacing-bottom: $spacing-xxxl;
$content-wrap-spacing-top: $spacing-xxl;
$content-wrap-spacing-bottom: $spacing-l;
$description-wrap-spacing-top: $spacing-l;

// Content structure - mobile
$inner-wrap-spacing-top-sm: $spacing-xxl-sm;
$inner-wrap-spacing-bottom-sm: $spacing-xxl-sm;