@import "../global/theme-variable";

.blog-header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;

    .navbar-brand {

        color: $color-1 !important;
    }

    &.sticky {
        position: fixed;
        top: 0;
        background-color: $color-1;

        .navbar-brand {

            color: $color-3 !important;
        }
    }

    .dropdown-toggle {
        border: none;
        height: 50px;
        width: 50px;
        border-radius: 30px;

        &::after {
            display: none;
        }
    }
}